body {
  background-image: url(https://lh4.ggpht.com/LOUfwG-GHLFqz2cG7_9i2IlXhZ_fWGrlCDOT11oyQHUkDUpia64BzkseuYK4xiez5eM=w300);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    font-size: 550%;
  text-align: center;

}
#adsa {
  text-align: center;
  font-size: 50px;
}
